// HERO SECTION
.hero {
  padding-top: 20rem;
  background-color: $light-gray;
  height: 100vh;
  .container {
    @include flex(row, space-between, center);
  }

  .text {
    @include flex(column, space-between, start);
    gap: 5rem;

    h1 {
      font-family: "Lato", sans-serif;
      font-size: 5.5rem;
      color: $main-gray;
      font-weight: 900;
      line-height: 125%;
      span {
        font-size: 5.5rem;
        color: $brand-blue;
        font-weight: 900;
        line-height: 125%;
      }
    }

    p {
      font-family: "Montserrat Alternates", sans-serif;
      color: #4d4d56;
    }

    .cta-area {
      @include flex(row, space-between, center);
      gap: 2rem;
      &-question {
        color: #4d4d56;
        text-decoration: underline;
      }
    }
  }

  .hero-image {
    max-width: 48rem;
  }

  @include responsive(1000px) {
    .container {
      img {
        max-width: 40rem;
      }
    }

    .text {
      h1 {
        font-size: 4.5rem;
        span {
          font-size: 4.5rem;
        }
      }
    }
  }
  @include responsive(830px) {
    height: initial;
    padding-top: 15rem;
    .container {
      flex-direction: column;
      img {
        margin-top: 5rem;
      }
    }
  }
  @include responsive(490px) {
    .text {
      h1 {
        font-size: 3.5rem;
        span {
          font-size: 3.5rem;
        }
      }
      .cta-area {
        width: 100%;
        @include flex(column, space-between, center);
      }
    }
  }
}

// CASES SECTION
.cases {
  text-align: center;
  padding: 3.5rem 0;
  margin-bottom: 15rem;
  h2 {
    margin-bottom: 4.5rem;
  }

  .stores {
    @include flex(row, center, center);
    gap: 5rem;
    margin-bottom: 7rem;
    flex-wrap: wrap;
    li {
      img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        transition: all 0.2s ease-in;
        cursor: pointer;
        width: 100%;
        max-width: 15rem;
      }
      &:hover img {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        transform: scale(1.04);
      }
    }
  }

  .cards {
    @include flex(row, space-between, center);
    gap: 2rem;
    li {
      border-radius: 2rem;

      .cards-item {
        @include flex(column, space-between, start);
        gap: 2rem;
        text-align: left;
        padding: 3rem;
        border-radius: 2rem;
        img {
          width: 100%;
          max-width: 7rem;
        }
        h4 {
          font-family: "Montserrat", sans-serif;
          font-size: 2rem;
          color: $brand-blue;
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 1.6rem;
          color: $text-gray;
        }

        &:nth-child(2) {
          background-color: red;
        }
      }

      &:nth-child(2) {
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: 0 0 10rem rgba(#ccc, $alpha: 0.5);
      }
    }
  }

  @include responsive(800px) {
    margin-bottom: 5rem;

    .cards {
      flex-direction: column;
    }
  }
}

// OUR PLATFORM SECTION
.our-platform {
  margin-bottom: 15.5rem;
  .container {
    @include flex(row, space-between, center);
    gap: 10rem;
  }
  .images {
    width: 46.6rem;
    height: 54rem;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
    .image-one {
      width: 21.7rem;
      height: 35.4rem;
      position: absolute;
    }
    .image-two {
      width: 21.8rem;
      height: 21.8rem;
      position: absolute;
      top: 5.3rem;
      right: 0;
    }
    .image-three {
      width: 35.4rem;
      height: 21.8rem;
      position: absolute;
      bottom: -7.4rem;
      left: -13.7rem;
    }
    .image-four {
      width: 21.8rem;
      height: 21.8rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .text {
    span {
      text-transform: uppercase;
      color: $brand-blue;
      font-family: "Montserrat", sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    h2 {
      margin-bottom: 6rem;
      span {
        text-transform: inherit;
        font-weight: inherit;
        font-size: inherit;
      }
    }
    ul {
      @include flex(row, space-between, center);
      gap: 4rem;
      margin-bottom: 6rem;
      li {
        width: 100%;
        max-width: 15rem;
        span {
          font-weight: 900;
        }
      }
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      width: 100%;
      max-width: 65rem;
    }
  }

  @include responsive(830px) {
    .container {
      @include flex(column-reverse, space-between, center);
      gap: 5rem;
    }

    .text {
      ul {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
      }
    }
  }
  @include responsive(400px) {
    .text {
      text-align: center;
      ul {
        @include flex(row, center, center);
        flex-wrap: wrap;
      }
    }
  }
}

// CATEGORIES
.categories {
  padding: 10rem 0;
  background-color: $light-gray;
  margin-bottom: 18rem;
  .container {
    @include flex(column, start, center);
    gap: 4rem;
  }
  .categorie-container {
    @include flex(row, center, center);
    gap: 2.5rem;
    flex-wrap: wrap;
    &-item {
      width: 100%;
      max-width: 28rem;
      height: 28rem;
      padding: 4rem;
      @include flex(column, center, center);
      border-radius: 2rem;
      transition: all 0.5s ease-in;
      text-align: center;
      background-color: rgba(#fff, 0.4);
      &:hover {
        box-shadow: 0 0 5rem rgba(#cccccc, 0.7);
      }

      img {
        width: 100%;
        max-width: 8rem;
        margin-bottom: 3rem;
      }
      h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 1.8rem;
        color: $main-gray;
        margin-bottom: 1rem;
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
      }
    }
  }

  @include responsive(830px) {
    margin-bottom: 5rem;
  }
}

// VIDEO SECTION
.video-section {
  margin-bottom: 9rem;
  .container {
    @include flex(row, space-between, center);
    gap: 4rem;
  }

  .text-area {
    width: 100%;
    max-width: 61.8rem;

    h4 {
      margin-bottom: 2.2rem;
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      color: $brand-blue;
    }
    h2 {
      margin-bottom: 2.2rem;
    }
    p {
      width: 100%;
      max-width: 65.7rem;
      margin-bottom: 6rem;
      color: #24242e;
    }

    .cta-area {
      @include flex(row, start, center);
      gap: 2rem;
      &-question {
        color: #4d4d56;
        text-decoration: underline;
      }
    }
  }

  .video-area {
    width: 100%;
    max-width: 60rem;
    height: 36.7rem;
    position: relative;
    .video-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 1.6rem;
      border-top-left-radius: 7rem;
      border-bottom-right-radius: 7rem;
      border-bottom-left-radius: 1.6rem;
    }
    .dots-background {
      width: 100%;
      max-width: 30rem;
      position: absolute;
      right: -4rem;
      top: -4rem;
      z-index: -1;
    }
    .play-icon {
      width: 100%;
      max-width: 8rem;
      position: absolute;
      top: 15rem;
      left: -2rem;
    }
  }

  @include responsive(830px) {
    .container {
      flex-direction: column;
      gap: 10rem;
    }
  }
}

// NEWSLETTER
.newsletter {
  text-align: center;
  .container {
    @include flex(column, space-between, center);
    width: 100%;
    max-width: 118rem;
  }
  span {
    font-size: 2rem;
    color: $brand-blue;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.2rem;
  }
  h2 {
    margin-bottom: 4rem;
  }
  p {
    margin-bottom: 6rem;
  }

  .input-area {
    @include flex(row, space-between, center);
    gap: 4rem;
    width: 100%;
    margin-bottom: 8rem;
    input {
      padding: 2rem 3rem;
      width: 100%;
      border-radius: 1rem;
      border: 1px solid $brand-blue;
      &:focus {
        border: 1px solid #0c7a9b;
      }
    }
    button {
      width: 100%;
      max-width: 20rem;
      background-color: $brand-blue;
      color: $brand-white;
      padding: 2rem 3rem;
      transition: all 0.2s ease-in;
      border-radius: 1rem;
      &:hover {
        background-color: #0c7a9b;
      }
    }
  }

  @include responsive(830px) {
    .container {
      form {
        flex-direction: column;
      }
    }
  }
}

// TESTIMONIALS
.testimonials {
  margin-bottom: 10rem;
  background-color: $light-gray;
  padding: 10rem 0;
  .container {
    @include flex(column, space-between, center);
  }
  span {
    font-size: 2rem;
    color: $brand-blue;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.2rem;
  }
  h2 {
    margin-bottom: 4rem;
  }

  ul {
    @include flex(row, space-between, center);
    gap: 2rem;
    li {
      background-color: #fff;
      box-shadow: 0 0 5rem rgba(#ccc, $alpha: 0.5);
      border-radius: 1rem;
      padding: 2rem;
      .customer-container {
        @include flex(column, space-between, start);
        gap: 2rem;
        .profile {
          @include flex(row, start, center);
          gap: 3rem;
          img {
            border-radius: 1.5rem;
          }
          .name-and-store {
            h5 {
              font-family: "Montserrat", sans-serif;
              font-size: 2rem;
              font-weight: 600;
            }
            span {
              font-family: "Montserrat", sans-serif;
              font-size: 1.5rem;
              font-weight: 400;
              text-transform: initial;
            }
          }
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 1.5rem;
          color: $text-gray;
        }

        .rating-stars-i {
          width: 100%;
          max-width: 14rem;
        }
      }
    }
  }

  @include responsive(830px) {
    margin-bottom: 5rem;
    ul {
      flex-direction: column;
    }
  }
}

// FOOTER
footer {
  .container {
    @include flex(column, space-between, center);
  }

  .menus {
    @include flex(row, space-between, start);
    gap: 3rem;
    width: 100%;
    &-item {
      margin-bottom: 5rem;
      h3 {
        color: $brand-blue;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        margin-bottom: 3rem;
      }

      p {
        margin-bottom: 2rem;
      }
      &.social {
        ul {
          @include flex(row, space-between, center);
          gap: 1rem;
          img {
            max-width: 4rem;
          }
        }
      }
    }
  }

  .copy {
    text-align: center;
    width: 100%;
    padding: 3rem 0;
    background-color: $light-gray;
    span {
      color: $brand-blue;
    }
  }

  @include responsive(830px) {
    .menus {
      text-align: center;
      @include flex(column, center, center);
    }
  }
}
