.conteudos {
  margin: 10rem 0;
  .container {
    @include flex(column, space-between, center);
    gap: 10rem;
  }

  .conteudo-item {
    @include flex(row, space-between, start);
    gap: 4rem;
    &.reverse {
      flex-direction: row-reverse;
    }
    &-image {
      width: 100%;
      max-width: 60rem;
      // height: 35rem;
      object-fit: cover;
    }

    .text {
      h3 {
        color: $brand-blue;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
      p {
        font-family: "Lato", sans-serif;
        font-size: 1.5rem;
        color: $text-gray;
        margin-bottom: 2rem;
      }
      ul {
        @include flex(row, start, center);
        flex-wrap: wrap;

        li {
          @include flex(row, space-between, center);
          gap: 1rem;
          padding: 2rem;
          padding-left: 0;

          img {
            width: 100%;
            max-width: 2.5rem;
          }
        }
      }
    }
  }

  // PAGE CHECKOUT EXPRESS
  .benefits {
    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      text-align: center;
      color: $brand-blue;
      text-transform: uppercase;
      margin-bottom: 8rem;
    }
    &-list {
      @include flex(row, space-between, start);
      gap: 5rem;
      text-align: center;
      .item {
        h5 {
          font-family: "Montserrat", sans-serif;
          color: $brand-blue;
          font-size: 2rem;
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  @include responsive(1000px) {
    .conteudo-item {
      @include flex(column, space-between, start);
      &.reverse {
        flex-direction: column;
      }
      &-image {
        max-width: 100%;
      }
    }
  }
}
