.parceiros {
  padding: 10rem 0;
  text-align: center;
  .container {
    @include flex(row, space-between, start);
    gap: 10rem;
  }

  .agencias-certificadas,
  .consultorias-certificadas {
    @include flex(column, space-between, center);

    h2 {
      color: $brand-blue;
    }
    ul {
      @include flex(row, space-between, center);
    }
  }

  @include responsive(1130px) {
    .container {
      @include flex(column, space-between, center);
    }

    .agencias-certificadas,
    .consultorias-certificadas {
      ul {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.programa-parceria {
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    span {
      color: $brand-blue;
    }
  }
  p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 6rem;
  }

  .benefits-list {
    @include flex(row, space-between, start);
    gap: 5rem;
    text-align: center;
    .item {
      h5 {
        font-family: "Montserrat", sans-serif;
        color: $brand-blue;
        font-size: 2rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  @include responsive(980px) {
    .benefits-list {
      @include flex(column, space-between, center);
      gap: 0rem;
    }
  }
}

.parceria-benefits {
  background-color: $brand-blue;
  color: $brand-white;
  padding: 8rem 0;
  h2 {
    color: $brand-white;
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    width: 100%;
    max-width: 70rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  .container {
    @include flex(column, space-between, center);
  }

  ul {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 2rem;
    li {
      @include flex(row, space-between, center);
      gap: 3rem;

      h3 {
        text-transform: uppercase;
      }

      img {
        width: 10rem;
        height: 10rem;
      }
      .text {
        @include flex(column, space-between, start);
        gap: 2rem;
        width: 100%;
        max-width: 25rem;
        p {
          text-align: left;
        }
      }
    }
  }

  @include responsive(830px) {
    ul {
      justify-content: center;

      li {
        flex-direction: column;

        .text {
          max-width: 40rem;
          @include flex(column, center, center);
          gap: 0rem;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

.form-area {
  padding: 6.5rem 0;
  .container {
    @include flex(row, space-between, center);
    gap: 20rem;
  }
  .text {
    width: 100%;
    max-width: 70rem;
    h2 {
      color: $brand-blue;
      margin-bottom: 4rem;
    }
    ul {
      li {
        h3 {
          color: $brand-blue;
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }

  form {
    width: 100%;
    max-width: 70rem;
    padding: 2.5rem;
    border: 1px solid $brand-blue;
    border-radius: 1rem;
    .input-area {
      input {
        width: 100%;
        padding: 0.8rem 1rem;
        background-color: #ececec;
        border-radius: 0.5rem;
        display: block;
        margin-bottom: 2rem;
      }
    }

    .input-area.checkboxes {
      margin-bottom: 2rem;
      label {
        display: flex;
      }
      input {
        width: 100%;
        max-width: 1.5rem;
      }
      span {
        font-size: 1.2rem;
      }
      .checkboxes-inputs {
        @include flex(row, space-between, center);
        input {
          margin-bottom: 0;
        }
      }
    }

    .btn {
      width: 100%;
    }
  }

  @include responsive(1000px) {
    .container {
      flex-direction: column;
      gap: 5rem;
    }

    .text {
      text-align: center;
    }
  }
}
