// POS HERO
.pos-hero {
  .container {
    @include flex(row, space-between, center);
    position: relative;
  }

  .mobile-apps-image {
    position: relative;
    width: 100%;
    max-width: 134rem;
    margin-left: -60rem;
  }

  .text {
    h2 {
      margin-bottom: 1.6rem;
      span {
        display: block;
      }
    }
    p {
      margin-bottom: 3rem;
    }
    ul {
      @include flex(column, space-between, start);
      gap: 3.5rem;
      li {
        @include flex(row, space-between, start);
        gap: 2rem;
        img {
          width: 100%;
          max-width: 3rem;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  @include responsive(830px) {
    margin-top: 5rem;
    .container {
      flex-direction: column-reverse;
      gap: 5rem;
      img {
        margin-left: 0rem;
      }
    }
  }
}

// INTEGRATIONS
.integrations {
  margin-bottom: 5rem;
  h2 {
    text-align: center;
    margin-bottom: 8.2rem;
  }
  .sides {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem;
  }

  .left,
  .right {
    ul {
      @include flex(column, space-between, center);
      gap: 8rem;
      li {
        .text {
          h3 {
            font-family: "Montserrat";
            font-size: 2rem;
            font-weight: 600;
            color: $brand-blue;
            margin-bottom: 1rem;
          }
          p {
            font-family: "Montserrat";
            font-size: 1.5rem;
            font-weight: 500;
            color: $text-gray;
          }
        }
      }
    }
  }
  .left {
    text-align: right;

    ul {
      li {
        @include flex(row-reverse, space-between, center);
        gap: 4rem;
      }
    }
  }
  .right {
    text-align: left;
    ul {
      li {
        @include flex(row, space-between, center);
        gap: 4rem;
      }
    }
  }

  @include responsive(830px) {
    .sides {
      grid-template-columns: 100%;
      gap: 10rem;
    }
  }
}

// ROI SECTION
.roi-section {
  background-color: $brand-blue;
  background-size: cover;
  color: $brand-white;
  padding: 5rem 0;
  margin-bottom: 20rem;

  .container {
    @include flex(column, space-between, center);
  }

  h2 {
    color: $brand-white;
    margin-bottom: 6rem;
    text-align: center;
    span {
      text-transform: uppercase;
      color: $brand-white;
      display: block;
    }
  }

  .content {
    width: 100%;
    position: relative;
    @include flex(row, space-between, center);
    gap: 10rem;
    p {
      max-width: 70rem;
    }

    .rocket-image {
      width: 100%;
      max-width: 40rem;
      filter: drop-shadow(1rem 1rem 10rem rgba(#fff, 0.5));
    }
    .shape-five {
      position: absolute;
      right: -34.3rem;
      bottom: -16.4rem;
    }
    .shape-two {
      position: absolute;
      left: -40.3rem;
      top: -31.4rem;
    }
  }

  @include responsive(1150px) {
    .container {
      flex-direction: column;
    }
  }
  @include responsive(950px) {
    margin-bottom: 5rem;
    .content {
      @include flex(column, space-between, center);
      text-align: center;
    }
  }
}

// E-COMMERCE CONVERSION
.ecommerce-conversion {
  margin-bottom: 20rem;
  .container {
    @include flex(row, space-between, center);
  }
  .text {
    width: 100%;
    max-width: 60rem;
    h2 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 3rem;
    }
    ul {
      @include flex(column, space-between, start);
      gap: 3.5rem;
      li {
        @include flex(row, space-between, start);
        gap: 2rem;
        img {
          width: 100%;
          max-width: 3rem;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .images {
    width: 46.6rem;
    height: 54rem;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
    .image-one {
      width: 21.7rem;
      height: 35.4rem;
      position: absolute;
    }
    .image-two {
      width: 21.8rem;
      height: 21.8rem;
      position: absolute;
      top: 5.3rem;
      right: 0;
    }
    .image-three {
      width: 35.4rem;
      height: 21.8rem;
      position: absolute;
      bottom: -7.4rem;
      left: -13.7rem;
    }
    .image-four {
      width: 21.8rem;
      height: 21.8rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  @include responsive(1150px) {
    margin-bottom: 5rem;
    .container {
      flex-direction: column;
      gap: 10rem;
    }
  }
}
